# Output
artifacts/
obj/
bin/

# IDE
*.csproj.user
!examples/*/*.csproj.user
*.userprefs
.vs/
.vscode/

# NuGet
testrunner/
packages/

# Linters and test runners
StyleCopViolations.xml
TestResult.xml
coverage_report/
coverage.xml

# Doc
docs/api
docs/_site
docs/_site_pdf
docs/repo

# Cake
tools/*
!tools/packages.config