# Output
obj/
bin/

# IDE
*.csproj.user
!examples/*/*.csproj.user
*.userprefs
.vs/

# NuGet
testrunner/
packages/

# Linters and test runners
StyleCopViolations.xml
TestResult.xml
gendarme_report.html
coverage-report/
